{% block content %}
<h1>My blog</h1>
{% for post in posts %}
<a href="{{ post.get_url }}">
  <h2>{{ post.title }}</h2>
</a>

<p>

  Published {{ post.publish }} by {{ post.auther }}
</p>
<p>
  Tags:
  {% for tag in post.tag_name.all %}
  <a href="{% url 'blog:post_list_by_tag' tag.title %}">{{ tag.title }}</a>
  {% if not forloop.last %}, {% endif %}

  {% endfor %}
</p>

{{post.body|truncatechars:5 }}

{% endfor %}

<p>


  {% for page_number in posts.paginator.page_range %}
  {% if page_number == posts.number %}
  {{ page_number }}
  {% else %}
  <a href="?page={{ page_number }}">{{ page_number }}</a>
  {% endif %}
  {% endfor %}
</p>

{% endblock %}